server:
  port: 8084

spring:
  application:
    name: payment-service
  config:
    import: optional:configserver:http://${CONFIG_HOST:localhost}:8888
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/atlas_payments
    username: ${POSTGRES_USER:atlas}
    password: ${POSTGRES_PASSWORD:atlas123}
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:admin123}@${EUREKA_HOST:localhost}:8761/eureka/
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
