server:
  port: 8761

spring:
  application:
    name: eureka-server
  security:
    user:
      name: ${EUREKA_USER:admin}
      password: ${EUREKA_PASSWORD:admin123}

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    # Standalone mode - don't register with itself
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@localhost:${server.port}/eureka/
  server:
    # Disable self-preservation for development
    enable-self-preservation: false
    # Faster eviction of unhealthy instances
    eviction-interval-timer-in-ms: 5000
    # Response cache update interval
    response-cache-update-interval-ms: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
